#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000008e;
}

#modal>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 10px;
    justify-content: center;
    width: 350px;
    height: 250px;
    background-color: #159904;
    border-radius: 10px;
}

button{
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
}